.f1{
	border-width: 2px;
  border-style: solid;
  border-color: darkslategray;
  width: 450px;
  height: 200px;
  margin: 50px 100px 100px 100px;
  padding: 10px 10px 10px 10px;
  font-size: 28px;
  box-shadow: 0 0 10px rgb(0, 0, 0, .5);
}
	
form{
	 border-width: 2px;
  border-style: solid;
  border-color: darkslategray;
  width: 600px;
  height: 580px;
  margin: 50px 100px 100px 100px;
  padding: 10px 10px 10px 10px;
  font-size: 28px;
  box-shadow: 0 0 10px rgb(0, 0, 0, .5);
 }
 body{
	background-color: rgb(163, 163, 163);
	border-width: 2px;
  border-style: solid;
  border-color: darkslategray;
  font-size: 20px;
}
h1{
	text-align: center;
	background-color: rgb(79, 171, 207);
	color: white;
	box-shadow: 0 0 10px rgb(0, 0, 0, .5);
}
.left1{
	font-size: 20px;
	 float: left;
  margin-top: 100px;
  margin-left: 1px;
  clear: left;
  color: black;
	background-color: rgb(79, 171, 207);

 }
 .left1:link, .left1:visited{
	color: black;
	background-color: rgb(79, 171, 207);
	text-decoration: none;
	display: inline-block;
	border-color: black;
	border-width: 2px;
  border-style: solid;
  	padding: 5px 5px;
}
.left1:hover, .left1:active{
	background-color: green;
	color: black;
}
 
 #a1{
	 font-size: 16px;
	 float: left;
  margin-top: 30px;
  margin-left: 200px;
  clear: left;
  color: white;
	background-color: black
 }
 #a2{
	 font-size: 16px;
	 float: right;
  margin-top: 30px;
  margin-right: 200px;
  clear: right;
  color: white;
	background-color: black
 }
 .left2{
	font-size: 18px;
	 float: left;
  margin-top: 80px;
  margin-right: 5px;
  clear: left;
  color: white;
	background-color: black
 }
 .left2:link, .left2:visited{
	color: black;
	background-color: rgb(79, 171, 207);
	text-decoration: none;
	display: inline-block;
	border-color: black;
	border-width: 2px;
  border-style: solid;
  	padding: 5px 5px;
}
.left2:hover, .left2:active{
	background-color: green;
	color: black;
}
.left3{
	font-size: 18px;
  color: white;
	background-color: black
 }
 .left3:link, .left3:visited{
	color: black;
	background-color: rgb(79, 171, 207);
	text-decoration: none;
	display: inline-block;
	border-color: black;
	border-width: 2px;
  border-style: solid;
  	padding: 5px 5px;
	margin-top: -50px;
	margin-left: 1100px;
}
.left3:hover, .left3:active{
	background-color: green;
	color: black;
}
 
 .right3{
	font-size: 18px;
  color: white;
	background-color: black
 }
 .right3:link, .right3:visited{
	color: black;
	background-color: rgb(79, 171, 207);
	text-decoration: none;
	display: inline-block;
	border-color: black;
	border-width: 2px;
  border-style: solid;
  	padding: 5px 5px;
}
.right3:hover, .right3:active{
	background-color: green;
	color: black;
}
	
 
	 